<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3>Table car list</h3>
<div>
    <table class="bordered-table">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getBrand()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getYear()}"></td>
        </tr>
    </table>

    <style>
        .bordered-table {
            border-collapse: collapse;
        }

        .bordered-table th, .bordered-table td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>

</div>
</body>
</html>